{% extends "myauth/base.html" %}
{% block body %}

{% if user.is_authenticated %}
<div class = 'loginform'>
<label>Ваш логин: {{user.username}}</label>
<label>Ваш e-mail: {{user.email}}</label>
<label>Ваш университет: {{user.profile.university}}</label>
            <div class="submitreg">
                <a class = "savebutton", class= "center", href={% url "myauth:profileedit" user.profile.slug%}>Изменить</a>
            <a class = 'pos' href={% url "myauth:logout" %}> Выйти</a>




{% else %}
<h1> Вы не выполнили вход</h1>
{% endif %}

{% endblock body %}


