{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css">
<div class='items'>
{% if course.preview %}
<div class=img>
    <img src={{course.preview.url}} width="500" height="500">
</div>
{% endif %}
<div class='itemsabout'>
<h1 class="coursename">{{course.title}}</h1>
<div class='itemsinfo'>{{course.about}}</div>
<div class='itemsfooter'>
<h2>Цена {{course.price}} руб. <h2>
<p>Количество заказавших данную работу: {{course.check_qty}}<p>
<div class='positionbutton'>
<button class = "buybutton">Заказать</button>
</div>
</div>
<div class = 'divtools'>
<a href="{% url 'shop:shopCreate' %}">Создать новый продукт</a>
<p></p>
<a href="{% url 'shop:shop_item_update' pk=course.pk %}">Изменить</a>
<p></p>
<a href="{% url 'shop:shop_item_delete' pk=course.pk %}">Архивировать</a>
<p></p>
<a href="{% url 'shop:index' %}">Вернуться назад</a>
<p></p>
<div>
</div>
</div>
</div>
</div>


<p class="comment-divider"></p>
<p>Комментарии:</p>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type='submit', class = "savebutton", class= "center">Создать</button>
</form>
{% for comment in comments %}
    <div class = 'comment'>
    <p class = 'comment-user'>Автор: {{comment.user.username}}</p>
    <p class = 'comment-text'>{{comment.commenttext}}</p>
    </div>
    {% if user.id == comment.user_id %}
        <a href="{% url "shop:comment_delete" pk=comment.pk %}">Удалить</a>
    {% endif %}
{% endfor %}
<div>

</div>
{% endblock %}